body {
    margin-right: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
 }
 
 .Loginbox {
    width: 280px;
    height: 350px;
    background-color: white;
    outline: black;
    border: 1px solid #C3C2C2;
    border-radius: 10px;
    color: #fff;
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 50px 30px;
    opacity: 0.9;
  
 }
 
 .pic {
    width: 150px;
    height: 70px;
    position: absolute;
    top: 2%;
    margin-left: 10%;
 }
 
 #register_form {
    margin-top: 60px;
 }
 
 .Loginbox input {
    width: 83%;
    margin-bottom: 15px;
    margin-left: 8%;
 }
 
 .Loginbox input[type="email"],
 input[type="password"],
 input[type="text"] {
    border: 1px solid #C3C2C2;
    padding: 0px 10px 0px 10px;
    background: transparent;
    outline: none;
    height: 35px;
    font-size: 14px;
    border-radius: 10px;
 }
 
 .Loginbox input[type="submit"] {
 
    border: none;
    outline: none;
    height: 32px;
    background: #072f65;
    color: #fff;
    font-size: 18px;
    border-radius: 10px;
    width: 80%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left: 18%;
    border-radius: 0.25em;
    cursor: pointer;
 
 }
 /* Add custom styles for the validation error messages */
input:focus + .error::before,
input:focus + .error::after {
    display: block;
}

input:focus + .error::before {
    content: "⚠️ ";
    margin-right: 5px;
}

input:focus + .error::after {
    content: "!";
    margin-left: 5px;
}

.error {
    display: none;
    color: red;
    font-size: 14px;
    margin-top: 4px;
    text-align: left;
}

.error::before,
.error::after {
    display: none;
    content: "";
}

 
 .Loginbox input[type="submit"]:hover {
    opacity: 0.8;
    cursor: pointer;
     margin-bottom: 10px; 
 }
 
 .Loginbox a {
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    color: gray;
    margin-bottom: 8px;
 }
 
 .Loginbox a:hover {
    color: blue;
 }
 @media screen and (max-width: 768px) {
   .Loginbox {
     max-width: 90%;
     margin: 0 auto;
   }
   .pic {
     width: 50%;
   }
   input[type="email"],
   input[type="password"],
   input[type="submit"],
   #header,
   a {
     width: 100%;
     margin: 10px 0;
   }
 }
 