  body{
    background-color: rgb(249,250,224) ;
}
.task{
  width:100%;
  height:80%;
}

.task img{
    width:170px;
    height:60px;
    position:relative;
    top:90px;
    left:50px;
}
.task p {
     position:relative;
    top:90px;
    left:50px;
}
 .HH{
    position: relative;
    left:50px;
    padding:10px;
    top:55%;
    border: none;
    outline: none;
    height: 32px;
    background: #072f65;
    color: #fff;
    font-size: 18px;
    border-radius: 10px;
    width: 20%;
    display:flex;
    justify-content: center;
    align-items: center; 
    margin-left: 18%;
    border-radius: 0.25em;
    cursor: pointer;
 }

 .ggg {
  text-decoration: none;
 }
 @media (max-width: 768px) {
  .task {
    font-size: 16px;
  }
  
  .HH {
    font-size: 14px;
    padding: 8px 12px;
  }
}
